body{
    background-color: #F8F4E1;
    overflow-x: hidden;   
    margin-top: 45px;
}
.nav_bar{
    top : 0px;
    left : 0px;
    position : fixed;
    height: 45px;
    width : 100%;
    background-color: #543310;
    display : flex;
    align-items: center;
    z-index : 999
}
#hamburger{
    color : #AF8F6F;
    font-size: 30px;
    margin-left : 10px;
    cursor : pointer; 
}
.overlay{
    width : 100%;
    height : 100%;
    inset : 0;
    z-index : 9999;
    background-color: transparent;
    backdrop-filter: blur(2px);
    position : fixed;
    display : none; 
}
.sidemenu{
    width : 45%;
    background-color: #AF8F6F;
    height : 100%;
}
.option{
    width : 100%;
    height: 45px;
    font-size: 22px;
    color : #543310;
    font-family:  "Arima";
    display : flex;
    align-items: center;
}
.option:hover{
    backdrop-filter: blur(4px);
    background-color: rgba(255,255,255,0.08);
}
#into{
    display : flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;
    height: 45px;
}
#cross{
   padding-right :8px;
   color : #543310;
   cursor : pointer;
}
.sideanim{
    animation : goback 0.45s linear 0s 1;
}
@keyframes goback {
    from {transform : translateX(-100%)}
    to {transform : translateX(0%)}
}
.option > i{
    position : relative ;
    bottom : 1.8px;
}
